<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoitietsbtybinh.sbty">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".WeatherSbty"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.activities.KlimaAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.ActStory"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LoobAct"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.KlimaDeetsAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.KlimaCastAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.HanaAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.SyudadSavedAct"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.LashSPAct"
            android:exported="false"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>